<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDImol_9i7Fcn2_6uQGQkwTGtuGB3wL5yw</string>
	<key>GCM_SENDER_ID</key>
	<string>466530259496</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jagdishgeneralstore.jgs</string>
	<key>PROJECT_ID</key>
	<string>jgs-store</string>
	<key>STORAGE_BUCKET</key>
	<string>jgs-store.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:466530259496:ios:63af3268845fe4661b9b1d</string>
</dict>
</plist>